<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../skin/base.css"/>
    <link rel="stylesheet" type="text/css" href="../skin/setting.css"/>
    <script type="text/javascript" src="../lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../src/setting.js"></script>
</head>
<body>
<div class="panel">
    <div class="bg-cat"></div>
    <div class="setting-panel">
        <div class="switch">
            <div class="button-label">
                <span class="on">ON</span>
                <div class="button-handle">
                    <i></i>
                </div>
                <span class="off">OFF</span>
            </div>
        </div>
       <div class="input-info">
           <span class="title">port:</span>
           <input id="port-text" value="8080"/>
       </div>
        <!--<div class="input-info reg">-->
            <!--<span class="title">reg:</span>-->
            <!--<input value="8080"/>-->
        <!--</div>-->
        <button class="save-btn">save</button>
    </div>
</div>
</body>
</html>